nav{
	background-color: #dea5a5;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}
#contenu{
	border: 2px solid #336699;
	padding: 10px;
	margin: 50px 0 0 0;
	/* idem margin-top: 30px; */
}
#haut{
	background-color: rgba(204,204,204,0.7);
	position: fixed;
	bottom:10px;
	right:10px;
	padding: 28px 22px;
	
}






