/* Selecteur universel désignant l'ensemble des balises */
*{
	margin:0;
	padding:0;
}
figure{
	width: 300px;
	height: 187px;
	border: 3px solid #c0c0c0;
	/* parent en relative pour placer l'enfant en absolute */
	position: relative;
	/* overflow permet de gerer l'affichage de ce qui depaase du bloc ( visible / hidden / scroll) */
	overflow: hidden;
}
img{
	display: block;
	width: 300px;
	transition: 1s ease-in ;
}
figure:hover img{
	/* transform: scale(1.2); */
}

figcaption{
	/* On utilise la valeur rgba de facon à profiter d'une transparence */
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
	text-align: center;
	width: 300px;
	/* absolute pour placer la legende dans le cadre de figure */
	position: absolute;
	/* on place la légende hors cadre */
	bottom:-35px;
	left:0;
	/* 4 propriétés possibles pour définir les coordonnées: left / top / bottom / right. */
	transition: 1s;
}
a{
	color: #fff;
	text-decoration: none;
}
figure:hover figcaption{
	/* la legende se place comme souhaité au moment du survol */
	bottom:0;
}
/*
3 formats d'image pour le web
- jpg/jpeg: format à fort taux de compression. ne supporte pas la transparence et ne peut pas etre animé.
- gif format à faible taux de compression,
gère la transparence (de facon mediocre), il est celebre pour ses animations.
- png taux de compression moyen,en revanche la transparence est bien rendue.
 
il existe un autre format particulier:
le svg. C'est un format qui affiche une image non pas crée en pixels, mais une image vectorielle (issue d'une formule mathématique). Elle peut etre zoomée/dézoomée sans subir de pixellisation.
 
*/





